/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Header styles */
header {
  text-align: center;
}

.logo-container {
  display: inline-block;
  background-color: black;
  width: 100%;
  color: white;
}

.logo {
  width: auto; /* Adjust as needed */
  height: 60px;
}

.company-name {
  font-size: 2em; /* Adjust as needed */
  font-family: 'Crimson Text', serif;
}

header h2 {
  font-family: 'Handlee', cursive;
}

nav {
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-link-container {
  background-color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 5em; /* Adjust as needed */
}

nav ul li a {
  text-decoration: none;
  color: black; /* Adjust as needed */
}

nav ul li :hover {
  text-decoration: underline;
  text-transform: uppercase;
}

/* Carousel section styles */
#carousel {
  width: 80%;
  height: 50vh;
  position: relative;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 3s;
}

/* Hero section styles*/
#about {
  margin-top: 200px; /* Adjust as needed */
  margin-bottom: 200px; /* Adjust as needed */
  text-align: center;
}

#about h2 {
  margin-bottom: 20px; /* Adjust as needed */
}

#about p {
  max-width: 800px; /* Adjust as needed */
  margin-left: auto;
  margin-right: auto;
}


/* Services section styles */
#services {
  background-color: #f2f2f2;
  padding: 3rem;
}

#services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#services ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  list-style: none;
  margin-top: 2rem;
}

#services li {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Portfolio section styles */
#portfolio {
  padding: 3rem;
}

#portfolio h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Testimonials section styles */
#testimonials {
  background-color: #f2f2f2;
  padding: 3rem;
}

#testimonials h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

cite {
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Contact section styles */
/* Center the form labels */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  text-align: center;
}

input[type="submit"] {
background-color: #333;
color: #fff;
border: none;
border-radius: 5px;
padding: 0.5rem 1rem;
font-size: 1.2rem;
cursor: pointer;
transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
background-color: #666;
}

footer {
  background-color: black;
  height: 100px;
  color: white;
}

footer p {
  justify-content: center;
}